.title {
    width: 60%;
    margin: 40px auto;
    position: relative;
    padding-left: 30px;
    font-size: 30px;
    font-weight: 700;
}
.title::before {
    content: "";
    background-color: #000000;
    position: absolute;
    width: 8px;
    height: 100%;
    left: 0;
}
.tab__box{
    width: 60%;
    margin: 0 auto;
    border-bottom: #000000 1px solid;
    display: flex;
    gap: 60px;
    padding-left: 50px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 30px;
    user-select: none;
}
.tab-link{
    text-decoration: none;
    color: #737373;
    width: 100px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 30px;
    transition: background-color 0.2s ease,color 0.2s ease;
    letter-spacing: 0.15em;
}
.tab-link.active{
    color: #000000;
    font-size: 16px;
}
.tab-link:not(.active):hover{
    background-color: #f5f5f5;
    border-radius: 30px;
    color: #FF7F50;
}
.apply-table{
    width: 60%;
    margin: 0 auto;
    line-height: 2;
    color: #737373;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    letter-spacing: 0.15em;
}
.header-raw{
    background-color: #ffffff;
    border-bottom: #e1e1e1 5px solid;
}
.header-item:first-child{
    border-radius: 8px 0 0 0;
    text-align: center;
    margin-bottom: 10px;
}
.header-item:last-child{
    border-radius: 0 8px 0 0;
    width: 120px;
}
.item-raw{
    background-color: #ffffff;
    line-height: 3;
    border-bottom: #e1e1e1 2px solid;
}
.table-item:first-child{
    text-align: center;
}
.header-item:first-child,.table-item:first-child {
    width: 18%;
}
.header-item:nth-child(2),.table-item:nth-child(2){
    width: 12%;
}
.header-item:nth-child(3),.table-item:nth-child(3){
    width: 20%;
}
.header-item:nth-child(4),.table-item:nth-child(4){
    width: 20%;
}
.header-item:nth-child(5),.table-item:nth-child(5){
    width: 15%;
}
.header-item:last-child,.table-item:last-child{
    text-align: center;
    width: 20%;
    padding-right: 7%;
}
.table-item:nth-child(3){
    letter-spacing: 0;
}
.table-item:nth-child(5){
    letter-spacing: 0;
}
.detail-link{
    text-decoration: none;
    color: #000000;
    transition: color 0.2s ease;
    padding: 5px 10px;
}
.detail-link:hover{
    color: #FF7F50;
}
.empty-raw{
    height: 5px;
    background-color: #ffffff;
}
.empty-item{
    border-radius: 0 0 8px 8px;
}