.title{
    width: 60%;
    margin: 40px auto;
    position: relative;
    padding-left: 15px;
    font-size: 30px;
    font-weight: 700;
}
.title::before{
    content: "";
    background-color: #000000;
    position: absolute;
    width: 8px;
    height: 100%;
    left: 0;
}
.pagenation__box{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto 40px auto;
    padding: 10px 50px;
    background-color: #ffffff;
    align-items: center;
    border-radius: 8px;

}
.calender-label{
    display: inline-block;
    position: relative;
    width: 100px;
}
.date-input{
    color: transparent;
    border: none;
    width: 100%;
    padding: 5px 30px;
}
.date-input:hover{
    background-color: #AFEEEE;
    border-radius: 30px;
}
.date-input.date-input::-webkit-calendar-picker-indicator{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 999;
    cursor: pointer;
}
.date-text{
    position: absolute;
    top: 0;
    left: 30px;
    width: 100%;
    height: 100%;
    color: #737373;
    pointer-events: none;
}
.page-link{
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #737373;
}
.page-link:hover {
    background-color: #AFEEEE;
    border-radius: 30px;
    transform: translateY(-2px);
}
.list-table{
    width: 60%;
    margin: 0 auto;
    color: #737373;
    text-align: center;
    line-height: 2.5;
}
.header-row{
    background-color: #ffffff;
    border-bottom: #e1e1e1 5px solid;
}
.header-item:first-child{
    border-radius: 8px 0 0 0;
    width: 20%;
}
.header-item:last-child{
    border-radius: 0 8px 0 0;
}
.item-row{
    background-color: #ffffff;
    border-bottom: #e1e1e1 2px solid;
}
.detail-link{
    border: none;
    background-color: transparent;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    color: #000000;
    padding: 5px 10px;
    text-decoration: none;
}
.detail-link:hover{
    color: #FF7F50;
}
.empty-row{
    background-color: #ffffff;
}
.empty-item{
    border-top: #ffffff 2px solid;
    border-radius: 0 0 8px 8px;
}